.about__container {
  width: 90vw;
}

.about__content-container {
  display: flex;
  justify-content: space-between;

  font-size: 1.25rem;
}

.about__content-container > * {
  margin-right: var(--about-content-spacing);
}

.about__content-container > *:last-child {
  margin-right: 0;
}

/* This section basically says: the ratio (of width) that the picture, research-interests section, and at-a-glance section is 3:4:7 */

.about__picture-container {
  flex: 3;
}

.research-interests__section {
  flex: 4;
}

.at-a-glance__section {
  flex: 7;
}

/*  */

.about__picture {
  width: 100%;
}

.contact__header, .news__header {
  text-align: center;
  font-size: var(--h2-size);
  margin-bottom: var(--h-margin-bottom);
}

.at-a-glance__header, .research-interests__header {
  font-size: var(--h3-size);
  margin-bottom: var(--h-margin-bottom);
}

.at-a-glance__section, .research-interests__section {
  margin: 0 auto;
  line-height: var(--spacy-line-height);
}

.at-a-glance__section p {
  margin-bottom: var(--spacy-line-height);
}

.research-interests__list li::before {
  content: "- ";
}

.contact__content-container {
  padding: 2.5rem;

  text-align: center;

  background-image: linear-gradient(45deg, var(--tertiary-color) 35%, var(--primary-color) 175%);

  color: white;
  text-decoration: none;

  /* border-radius: 62% 38% 52% 48% / 54% 44% 56% 46% ; */
}

.contact__link {
  font-weight: normal;
  line-height: var(--spacy-line-height);
}

.contact__content-container a, .contact__content-container a:visited {
  color: white;
}


:root {
  --news-headline-size: 1.25rem;
  --news-source-size: 1.25rem;
  --news-date-size: 1.25rem;

  --news-headline-margin: 0.75rem;
  --news-line-height: 2rem;
}

.news__list li {
  padding: var(--list-item-padding);
}

.news__list > li > a {
  font-weight: normal;
  text-decoration: none;
}

.news__list .headline {
  display: block;
  margin-bottom: var(--news-headline-margin);

  font-size: var(--news-headline-size);
  line-height: var(--news-line-height);

  text-decoration: underline;
}

.news__list .headline::before, .news__list .source::before {
  content: "- ";
  /* font-size: calc( 1.15 * var(--headline-size) ); */
}

.news__list .source::before {
  visibility: hidden;
}

.news__list .source, .news__list .date {
  font-size: var(--source-size);

  color: gray;
  font-style: italic;
}

.news__list .date::before {
  content: ", ";
}
