/* VARS */

:root {
  --primary-color: #4527A0;
  --secondary-color: #FF0099;
  --tertiary-color: #3D5AFE;
  --h1-size: 5rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --nav-size: 1.25rem;

  --h-margin-bottom: 1rem;

  --news-item-padding: 2rem;

  font-family: 'Lato', 'Helvetica', sans-serif;
}

/* ELEMENTS */

body {
  width: 75vw;
  margin: 0 auto;
  background-color: white;
  color: black;
}

a, a:visited {
  color: black;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Chivo', 'Lato', 'Helvetica', sans-serif;
  font-weight: bold;
}

/* DEFAULT CUSTOM ELEMENTS */

.row, .centered-row {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.centered-row {
  display: flex;
  justify-content: space-around;
}

.centered-row section {
  padding: 3rem;
}

/* INDEX PAGE */

.spotlight__content-container {

  background-image: linear-gradient(45deg, var(--primary-color) 35%, var(--secondary-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  color: var(--primary-color);
}

.spotlight__header {
  font-weight: bold;
  font-size: var(--h1-size);
}

.nav-bar__container {
  font-size: var(--nav-size);
}

.nav-bar__list {
  display: flex;
  justify-content: space-around;
}

.about__content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__header, .contact__header, .news__header {
  text-align: center;
  font-size: var(--h2-size);
  margin-bottom: var(--h-margin-bottom);
}

.at-a-glance__header, .research-interests__header {
  font-size: var(--h3-size);
  margin-bottom: var(--h-margin-bottom);
}

.at-a-glance__section, .research-interests__section {
  margin: 0 auto;
}

.at-a-glance__list li::before, .research-interests__list li::before {
  content: "- ";
}

.at-a-glance__list li, .research-interests__list li {
  line-height: 1.5rem;
}

.contact__content-container {
  text-align: center;

  background-image: linear-gradient(45deg, var(--tertiary-color) 35%, var(--primary-color) 135%);

  color: white;

  border-radius: 62% 38% 52% 48% / 54% 44% 56% 46% ;
}

.contact__content-container a, .contact__content-container a:visited {
  color: white;
}

.news__list li {
  padding: var(--news-item-padding);
  padding-top: 0;
}

.news__list li h3 {
  font-size: var(--h3-size);
  margin-bottom: calc( 0.5 * var(--h-margin-bottom));
}

.news__list li time {
  margin-bottom: var(--h-margin-bottom);
  display: block;
}

.news__list li a {
  display: block;
  margin: 1.5rem 0;
}
