/* VARS */

:root {
  --primary-color: #4527A0;
  --secondary-color: #FF0099;
  --tertiary-color: #3D5AFE;
  --h1-size: 2rem;
  --tagline-size: 2rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --nav-size: 1.25rem;

  --h-margin-bottom: 1rem;

  --spacy-line-height: 1.5rem;

  --about-content-spacing: 3rem;

  --news-item-padding: 2rem;

  font-family: 'Lato', 'Helvetica', sans-serif;
}

/* ELEMENTS */

body {
  width: 75vw;
  margin: 0 auto;
  background-color: rgba(238,238,238,.25);
  color: black;
}

a, a:visited {
  color: black;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Chivo', 'Lato', 'Helvetica', sans-serif;
  font-weight: bold;
}

/* DEFAULT CUSTOM ELEMENTS */

.row, .centered-row {
  margin-top: 2rem;
}

.centered-row {
  display: flex;
  justify-content: space-around;
}

.row, .centered-row section {
  padding: 2.5rem;
}

/* INDEX PAGE */

.spotlight__content-container {

  background-image: linear-gradient(45deg, var(--tertiary-color) 0%, var(--primary-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  color: var(--primary-color);
}

.spotlight__header {
  font-weight: bold;
  font-size: var(--h1-size);
}

.spotlight__tagline {
  font-weight: bold;
  font-size: var(--tagline-size);
  margin-top: 2rem;
  display:block;
}

.nav-bar__container {
  font-size: var(--nav-size);
}

.nav-bar__list {
  display: flex;
  justify-content: space-around;
}

.about__content-container {
  display: flex;
  justify-content: space-between;
}

.about__content-container > * {
  margin-right: var(--about-content-spacing);
}

.about__content-container > *:last-child {
  margin-right: 0;
}

/* This section basically says: the ratio (of width) that the picture, research-interests section, and at-a-glance section is 3:4:5 */

.about__picture {
  flex: 3;
}

.research-interests__section {
  flex: 4;
}

.at-a-glance__section {
  flex: 5;
}

/*  */

.contact__header, .news__header {
  text-align: center;
  font-size: var(--h2-size);
  margin-bottom: var(--h-margin-bottom);
}

.at-a-glance__header, .research-interests__header {
  font-size: var(--h3-size);
  margin-bottom: var(--h-margin-bottom);
}

.at-a-glance__section, .research-interests__section {
  margin: 0 auto;
  line-height: var(--spacy-line-height);
}

.at-a-glance__section p {
  margin-bottom: var(--spacy-line-height);
}

.research-interests__list li::before {
  content: "- ";
}

.contact__content-container {
  padding: 2.5rem;

  text-align: center;

  background-image: linear-gradient(45deg, var(--tertiary-color) 35%, var(--primary-color) 175%);

  color: white;
  text-decoration: none;

  /* border-radius: 62% 38% 52% 48% / 54% 44% 56% 46% ; */
}

.contact__content-container, .contact__content-container:visited {
  color: white;
}

.news__list li {
  padding: var(--news-item-padding);
  padding-top: 0;
}

.news__list li h3 {
  font-size: var(--h3-size);
  margin-bottom: calc( 0.5 * var(--h-margin-bottom));
}

.news__list li time {
  margin-bottom: var(--h-margin-bottom);
  display: block;
}

.news__list li a {
  display: block;
  margin: 1.5rem 0;
}
