:root {
  --headline-size: 1.5rem;
  --source-size: 1.25rem;
  --date-size: 1.25rem;

  --headline-margin: 0.75rem;
  --press-line-height: 2rem;
}

.press__header {
  text-align: center;
  font-size: var(--h2-size);
  margin-bottom: var(--h-margin-bottom);
}

.press__list li {
  padding: var(--list-item-padding);
}

.press__list > li > a {
  font-weight: normal;
  text-decoration: none;
}

.press__list .headline {
  display: block;

  margin-bottom: var(--headline-margin);

  font-size: var(--headline-size);
  line-height: var(--press-line-height);
}

.press__list .headline::before, .press__list .source::before {
  content: "☞ ";
  /* font-size: calc( 1.15 * var(--headline-size) ); */
}

.press__list .source::before {
  visibility: hidden;
}

.press__list .source, .press__list .date {
  font-size: var(--source-size);

  color: gray;
  font-style: italic;
}

.press__list .date::before {
  content: ", ";
}
