:root {
  --content-text-size: 1.25rem
}

.projects__container {
  line-height: var(--spacy-line-height);
}

.projects__header {
  text-align: center;
  font-size: var(--h2-size);
  margin-bottom: var(--h-margin-bottom);
}

.project {
  padding: var(--list-item-padding) 0;
}

.project .project__header {
  font-size: var(--h3-size);
  margin-bottom: calc( 0.5 * var(--h-margin-bottom));
}

.project .time {
  margin-bottom: var(--h-margin-bottom);
  display: block;
}

.project__multimedia {
  text-align: center;
}

.project__content {
  font-size: var(--content-text-size);
}

.project .link {
  display: block;
  margin: 1.5rem 0;
}

.project .link::before {
  content: "More details on "
}
