.publications__header {
  text-align: center;
  font-size: var(--h2-size);
  margin-bottom: var(--h-margin-bottom);
}

.publications__overall-list li {
  padding: var(--list-item-padding);
  padding-top: 0;
}

.publications__overall-list h3 {
  font-size: var(--h3-size);
  margin-bottom: calc( 0.5 * var(--h-margin-bottom));
}

.publications__overall-list li time {
  margin-bottom: var(--h-margin-bottom);
  display: block;
}

.publications__overall-list li a {
  display: block;
  margin: 1.5rem 0;
}
